services:

  app:
    environment:
      - NEXTAUTH_URL=http://localhost:3000/api/v1/auth
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
      - NEXT_PUBLIC_DISABLE_REGISTRATION=true

    restart: always
    image: ghcr.io/linkwarden/linkwarden:v2.13.3
    ports:
      - 3000:3000
    volumes:
      - data:/data/data
    depends_on:
      - db
    networks:
      - frontend
      - backend
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  db:
    image: postgres:18.1-alpine
    environment:
      - NEXTAUTH_URL=http://localhost:3000/api/v1/auth
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  pgdata:
  data:

networks:
  frontend:
    name: proxy_frontend
    external: true
  backend:
